.navItem {
  color: #000;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive;
}

.navItem:hover {
  background-color: #000;
  color: #fff;
  transform: rotate(5deg);
  transition: transform 1s;
}
.navItem:after {
  content: "";
  background-color: #fff;
  display: block;
  height: 3px;
  width: 0%;
  transition: 1s;
}

.navItem:hover::after {
  width: 100%;
}
.scrollBg {
  transition: 700ms;
}
.scrollOutBg {
  transition: 700ms;
}
