.navItem {
  color: #000;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive;
}

.navItem:hover {
  background-color: #000;
  text-shadow: 0px 0px rgba(255, 255, 255, 0);
  color: #fff;
  transform: rotate(5deg);
  transition: transform 1s;
}
.navItem:after {
  content: "";
  background-color: #fff;
  display: block;
  height: 3px;
  width: 0%;
  transition: 1s;
}
.logOut {
  outline: 2px solid #000;
}
.logOut:hover {
  background-color: #c3dcfc;
}
.about {
  text-shadow: 2px 2px 5px #fff;
}
.UserImage {
  border: 2px solid #000;
  border-radius: 50%;
}
.navItem:hover::after {
  width: 100%;
}
.scrollBg {
  transition: 700ms;
}
.scrollOutBg {
  transition: 700ms;
}
.bgTransparent {
  background-color: aqua;
}
@media only screen and (max-width: 750px) {
  .navItem {
    padding: 5px 0px;
    padding-left: 5px;
  }
  .navItem:after {
    content: "";
    display: block;
  }

  .navItem:hover::after {
    width: 0%;
  }
}
