.contractConatiner {
  margin-top: 150px;
  font-family: "Rajdhani", sans-serif;
}

.contarctUs {
  border-bottom: 5px solid #4ea9ff;
  border-radius: 10px;
  display: inline-block;
  font-family: "Bebas Neue", cursive;
}
