.headerContainer {
  background-image: url(https://i.ibb.co/n181q1g/bg.png);
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 56%, 17% 72%, 0 65%);

  background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
}
.headerItem {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

.headerTitle {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
