.headerContainer {
  background-image: url(https://i.ibb.co/qppgM58/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
}
.headerItem {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

.headerTitle {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
